/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
.eligible-sec {
  background-color: #003D83;
  padding: 60px 0 80px;
  background-image: url("../img/elgbl-bg.png");
  background-size: cover;
  background-position: right bottom;
}
.eligible-sec .det-block {
  padding-top: 40px;
}
.eligible-sec .det-block h2 {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 40px;
  color: #fff;
}
.eligible-sec .det-block h2 span {
  color: #0099FF;
}
@media (max-width: 1679px) {
  .eligible-sec .det-block h2 {
    font-size: 37px;
  }
}
.eligible-sec .det-block .qst-cover {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.eligible-sec .det-block .qst-cover .qst-block {
  width: 100%;
  background: #02418A;
  border: 1px solid rgba(0, 153, 255, 0.4);
  border-radius: 36px;
  padding: 14px 40px;
  padding-right: 20px;
  font-size: 28px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 25px;
}
@media (max-width: 1679px) {
  .eligible-sec .det-block .qst-cover .qst-block {
    padding: 12px 32px;
  }
}
.eligible-sec .det-block .qst-cover .qst-block.qst-block-m {
  width: calc(50% - 8px);
}
.eligible-sec .det-block .contact-block {
  display: flex;
  align-items: center;
  padding-top: 20px;
}
.eligible-sec .det-block .contact-block .txt-label {
  font-size: 28px;
  font-weight: 300;
  color: #fff;
  padding: 10px 0;
  padding-right: 50px;
}
@media (max-width: 1679px) {
  .eligible-sec .det-block .contact-block .txt-label {
    padding-right: 30px;
  }
}
.eligible-sec .det-block .contact-block .contact-link {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  background: #0099FF;
  border-radius: 34px;
  padding: 9px;
  padding-right: 53px;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
}
.eligible-sec .det-block .contact-block .contact-link .icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 17px;
}
.eligible-sec .img-block {
  padding-left: 30px;
  text-align: right;
}
@media (max-width: 1679px) {
  .eligible-sec .img-block {
    text-align: center;
  }
}
@media (max-width: 1679px) {
  .eligible-sec .img-block img {
    height: 360px;
  }
}

@media (max-width: 1679px) {
  .eligible-sec .det-block .qst-cover .qst-block, .eligible-sec .det-block .contact-block .txt-label {
    font-size: 21px;
  }
  .eligible-sec .det-block .contact-block .contact-link {
    font-size: 18px;
  }
  .eligible-sec .det-block .contact-block .contact-link .icon {
    width: 30px;
    height: 30px;
  }
}

/*# sourceMappingURL=eligible.css.map */
