/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
.section-faq {
  padding-top: 90px;
  padding-bottom: 90px;
}
@media (max-width: 1679px) {
  .section-faq {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (max-width: 1481px) {
  .section-faq {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (max-width: 1199px) {
  .section-faq {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
.section-faq .sec-title {
  font-size: 42px;
  line-height: 1;
  font-weight: 600;
  color: #002944;
}
@media (max-width: 1679px) {
  .section-faq .sec-title {
    font-size: 40px;
  }
}
@media (max-width: 1281px) {
  .section-faq .sec-title {
    font-size: 38px;
  }
}
.section-faq .sec-subtitle {
  color: #0099FF;
  font-weight: 600;
}
.section-faq .accordion {
  padding-top: 40px;
}
.section-faq .accordion .accordion-item {
  border: none !important;
  margin-bottom: 19px;
  overflow: clip;
}
.section-faq .accordion .accordion-item .accordion-button {
  box-shadow: none !important;
  background-color: transparent;
  border: 1px solid #B7D7EC;
  font-size: 24px;
  color: #002944;
  font-weight: 500;
  border-radius: 12px;
}
@media (max-width: 1679px) {
  .section-faq .accordion .accordion-item .accordion-button {
    font-size: 20px;
  }
}
@media (max-width: 1281px) {
  .section-faq .accordion .accordion-item .accordion-button {
    font-size: 18px;
  }
}
.section-faq .accordion .accordion-item .accordion-button:after {
  background-image: none;
  content: "+";
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Rubik", sans-serif;
  color: #9CB3C3;
}
.section-faq .accordion .accordion-item .accordion-button:not(.collapsed) {
  background-color: #EAF6FF;
  border-color: #75C5F9;
  border-bottom-color: transparent !important;
  border-radius: 12px 12px 0px 0px;
}
.section-faq .accordion .accordion-item .accordion-button:not(.collapsed):after {
  content: "-";
  color: #002944;
}
.section-faq .accordion .accordion-item .accordion-body {
  background-color: #EAF6FF;
  padding-top: 0;
  border: 1px solid;
  border-color: #75C5F9;
  border-top-color: transparent !important;
  border-radius: 0px 0px 12px 12px;
  color: #002944;
  font-size: 18px;
  line-height: 1.778;
}
@media (max-width: 1679px) {
  .section-faq .accordion .accordion-item .accordion-body {
    font-size: 16px;
  }
}
@media (max-width: 1441px) {
  .section-faq .accordion .accordion-item .accordion-body {
    font-size: 14px;
  }
}

/*# sourceMappingURL=faq.css.map */
