@import 'partials';

.section-caregiver{
    padding-top: 70px;
    background-color: #f1f9ffb3;
    @media ($sm-1679){
        padding-top: 60px;
    }
    @media ($sm-1281){
        padding-top: 50px;    
    }
    @media ($sm-1199){
        padding-top: 40px;  
    }
     
    .txt-col-wrp{
        max-width: 560px;

        .sec-title{
            font-size: 42px;
            line-height: 1.45;
            font-weight: 600;
            color: #002944;
            margin-bottom: 0.5em;
            @media ($sm-1679){
                font-size: 40px;
            }
            @media ($sm-1281){
                font-size: 38px;
            }
            @media ($sm-1199){
                font-size: 24px;
            }
            @media ($sm-991){
                font-size: 20px;
            }
             
        }

        .txtCont{
            color: #002944;
            font-size: 18px;
            line-height: 1.833;
            @media ($sm-1679){
                font-size: 16px;
            }
            @media ($sm-1481){
                font-size: 14px;
            }
        }
    }
}