@import 'partials';

body,html{
    font-family: 'Kanit', sans-serif;
}

p{
    font-size: 1rem;
    font-family: 'Gotham', sans-serif;
}
.heading{
    font-family: 'ChampionGothic', sans-serif;
    font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6{
    color: var(--primary);
    span.sub{
        color: var(--secondary);
    }
}
/**************************
font sizes: 

title large heading:74px = 4.625rem
title heading:      60px = 3.75rem
small heading:      24px = 1.5rem
small subtitle :    20px = 1.25rem
body text:          16px = 1rem
body small text:    14px = 0.875rem

*****************************/

.container-padding{
    padding-left: 70px;
    padding-right: 70px;
    @media screen and ($sm-1679){
        padding-left: 50px;
        padding-right: 50px;
    }
    @media screen and ($sm-1441){
        padding-left: 60px;
        padding-right: 60px;
    }
    @media screen and ($sm-991){
        padding-left: 30px;
        padding-right: 30px;
    }
}
.container-custom{
    max-width: 1440px;
    @media screen and ($sm-1441){
        max-width: 1360px;
    }
}


// buttons
.btn{
    border-radius: 5px;
    &.btn-primary{
        background-color: var(--primary);
        border: 1px solid var(--primary);
        color: var(--white);
    }
    &.btn-secondary{
        background-color: var(--secondary);
        border: 1px solid var(--secondary);
        color: var(--white);
    }
}
img{
    max-width: 100%;
}