@import 'partials';

.section-faq{
  padding-top: 90px;
  padding-bottom: 90px;
  @media ($sm-1679){
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @media ($sm-1481){
    padding-top: 70px;
    padding-bottom: 70px;
  }
  @media ($sm-1281){
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media ($sm-1199){
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .sec-title{
    font-size: 42px;
    line-height: 1;
    font-weight: 600;
    color: #002944;
    @media ($sm-1679){
      font-size: 40px;
    }
    @media ($sm-1281){
        font-size: 38px;
    }
    @media ($sm-1199){
        font-size: 24px;
    }
    @media ($sm-991){
        font-size: 20px;
    }
  }
  .sec-subtitle{
    color: #0099FF;
    font-weight: 600;
    margin-bottom: 0.5em;
        @media ($sm-1679){
            font-size: 20px;
        }
        @media ($sm-1281){
            font-size: 18px;
        }
        @media ($sm-1199){
            font-size: 16px;
        }
        @media ($sm-991){
            font-size: 14px;
        }
        
  }
   
  .accordion{
    padding-top: 40px;
      @media ($sm-1679){
        padding-top: 30px;
      }
      @media ($sm-1481){
        padding-top: 20px;
      }
      @media ($sm-1199){
        padding-top: 15px;
      }
      
    .accordion-item{
      border: none !important;
      margin-bottom: 19px;
      overflow: clip;
      .accordion-button{
        box-shadow: none !important;
        background-color: transparent;
        border: 1px solid #B7D7EC;
        font-size: 24px;
        color: #002944;
        font-weight: 500;
        border-radius: 12px;
         
          @media ($sm-1679){
            font-size: 20px;
            }
            @media ($sm-1281){
                font-size: 18px;
                padding-top: 10px;
                padding-bottom: 10px;
            }
            @media ($sm-1199){
                font-size: 16px;
            }
            @media ($sm-991){
                font-size: 14px;
                padding-top: 8px;
                padding-bottom: 8px;
            }
         
        &:after{
          background-image: none;
          content: '+';
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: 'Rubik', sans-serif;
          color: #9CB3C3;
          // align-self: flex-start;
        }
        &:not(.collapsed){
          background-color: #EAF6FF;
          border-color: #75C5F9;
          border-bottom-color: transparent !important;
          border-radius: 12px 12px 0px 0px;
          &:after{
            content: '-';
            color: #002944;
          }
        }
      }
      .accordion-body{
        background-color: #EAF6FF;
        padding-top: 0;
        border: 1px solid;
        border-color: #75C5F9;
        border-top-color: transparent !important;
        border-radius: 0px 0px 12px 12px ;
        color: #002944;
        font-size: 18px;
        line-height: 1.778;
        
        @media ($sm-1679){
          font-size: 16px;
        }
        @media ($sm-1441){
            font-size: 14px;
           
        }
        @media ($sm-1281){
            font-size: 12px;
            margin-top: -0.33em;
            line-height: 1.33;
        }
          
      }
    }
  }
}